<?xml version="1.0"?>
<PSharpBatchConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BatchAccountName>$Batch Account Name$</BatchAccountName>
  <BatchAccountKey>$Batch Account Key$</BatchAccountKey>
  <BatchAccountUrl>$Batch Account URL$</BatchAccountUrl>
  <StorageAccountName>$Storage Account Name$</StorageAccountName>
  <StorageAccountKey>$storage Account Key</StorageAccountKey>
  <PoolId>$Pool ID$</PoolId>
  <JobDefaultId>$Job Prefix$</JobDefaultId>
  <MaxIterationPerTask>$Max Iterations per task$</MaxIterationPerTask>
  <TotalIterations>$Total Iterations$</TotalIterations>
  <TaskDefaultId>$Task Prefix$</TaskDefaultId>
  <BlobContainerSasExpiryHours>$Blob container expiry hours$</BlobContainerSasExpiryHours>
  <NumberOfNodesInPool>$Number of nodes in pool$</NumberOfNodesInPool>
  <PSharpBinariesFolderPath>$Path to the PSharp Binaries folder$</PSharpBinariesFolderPath>
  <TestApplicationPath>$Test Application Path$</TestApplicationPath>
  <OutputFolderPath>$Output folder path$</OutputFolderPath>
  <TaskWaitHours>$Task wait time in hours$</TaskWaitHours>
</PSharpBatchConfig>