<?xml version="1.0"?>
<PSharpBatchConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BatchAccountName>psharpadg</BatchAccountName>
  <BatchAccountKey>oqI+hNh3GWv+zdF/Z7c/xPmv/HHkDP56IT6zO94mEbs031MwOGhyYbYaqFPBEiv6lzHY4fFJnwArBP/2Da1s1g==</BatchAccountKey>
  <BatchAccountUrl>https://psharpadg.westus.batch.azure.com</BatchAccountUrl>
  <StorageAccountName>psharpadg</StorageAccountName>
  <StorageAccountKey>mNYcMt9vcDJt6ACsVNgsG4y6xS1k1Jry0Mtl9q4JfneCdvSptwEZy3vwQOSon/TbPOPgRUTGK52VW14IJmT+UQ==</StorageAccountKey>
  <PoolId>PSharpBatchPool</PoolId>
  <JobDefaultId>PSharpBatchJob</JobDefaultId>
  <MaxIterationPerTask>200</MaxIterationPerTask>
  <TotalIterations>1000</TotalIterations>
  <TaskDefaultId>PSharpTask</TaskDefaultId>
  <BlobContainerSasExpiryHours>2</BlobContainerSasExpiryHours>
  <NumberOfNodesInPool>3</NumberOfNodesInPool>
  <PSharpBinariesFolderPath>C:\Users\t-prvai\Desktop\TFS\priyan\PSharpBatch\PSharpBatchTester\Binaries</PSharpBinariesFolderPath>
  <TestApplicationPath>C:\Users\t-prvai\Desktop\TFS\priyan\PSharpBatchApp\PSharpBatchTester\TaskApplication\MultiPaxos.exe</TestApplicationPath>
  <OutputFolderPath>.\Output</OutputFolderPath>
</PSharpBatchConfig>