<?xml version="1.0"?>
<PSharpBatchConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <!-- Id of the Azure Batch pool to be created if not exists -->
  <PoolId>$Pool ID$</PoolId>
  
  <!-- Prefix of the Job ID. Will be appended by timestamp -->
  <JobDefaultId>$Job Prefix$</JobDefaultId>

  <!-- Prefix of the task id. Will be appended by timestamp -->  
  <TaskDefaultId>$Task Prefix$</TaskDefaultId>
  
  <!-- Blobl access key expiry hours. Enter -1 for infinite expiry hours. -->
  <BlobContainerSasExpiryHours>$Blob container expiry hours$</BlobContainerSasExpiryHours>

  <!-- Number of nodes to be created -->
  <NumberOfNodesInPool>$Number of nodes in pool$</NumberOfNodesInPool>

  <!-- Path to the PSharp Binaries folder -->
  <PSharpBinariesFolderPath>$Path to the PSharp Binaries folder$</PSharpBinariesFolderPath>

  <!-- Path to the output folder -->
  <OutputFolderPath>$Output folder path$</OutputFolderPath>

  <!-- Wait time for monitoring tasks, beyond which the tasks will be terminated -->
  <TaskWaitHours>$Task wait time in hours$</TaskWaitHours>

  <!-- PSharp Test command -->
  <PSharpTestCommand>$Enter the command here$</PSharpTestCommand>
  
  <!-- Delete Details -->
  <DeleteJobAfterDone>$Should Job be deleted after complete (true/false)$</DeleteJobAfterDone>
  <DeleteContainerAfterDone>$Should the containers be deleted after complete(true/false)$</DeleteContainerAfterDone>

</PSharpBatchConfig>