<?xml version="1.0"?>
<PSharpBatchAuthConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
    <!-- Azure Batch Credentials -->
    <BatchAccountName>$Batch Account Name$</BatchAccountName>
    <BatchAccountKey>$Batch Account Key$</BatchAccountKey>
    <BatchAccountUrl>$Batch Account URL$</BatchAccountUrl>
    <!-- Azure Storage Account Credentials -->
    <StorageAccountName>$Storage Account Name$</StorageAccountName>
    <StorageAccountKey>$storage Account Key</StorageAccountKey>
</PSharpBatchAuthConfig>